@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.ant-table-wrapper-flexible {
  flex: 1;
  height: 0;
}

.ant-table-wrapper-flexible .ant-spin-nested-loading {
  height: 100%;
}

.ant-table-wrapper-flexible .ant-spin-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ant-table-wrapper-flexible .ant-table {
  flex: 1;
  height: 0;
}

.ant-table-wrapper-flexible .ant-table-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ant-table-wrapper-flexible .ant-table-body {
  flex: 1;
  height: 0;
}
